.product {
	display: flex;
	background-color: white;
	box-sizing: border-box;
	margin: 2px;
	padding: 15px 15px 10px 15px;
	min-width: 400px;
}
.product-img-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100px;
	margin-right: 15px;
}
.product-img {
	width: 80px;
	height: 80px;
}
.product-rating {
	list-style: none;
	display: flex;
	margin: 5px 0 0 0;
	padding: 0;
}
.product-rating-item {
	width: 10px;
	height: 10px;
    background: #ffffff url("https://cdn.staticmb.com/images/localityProfile/localityNavRatingIcon.png") no-repeat left top;
    background-size:cover
}
.product-info-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #171717;
	text-decoration: none;
}
.product-price-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 200px;
	justify-content: space-between;
	margin: 0 0 20px;
}
.product-title {
	margin: 0;
	padding: 0;
}
.product-price-from {
	order: 0;
	font-size: 16px;
	font-weight: bold;
	margin-right: 30px;
}
.product-retailer-count {
	order: 1;
	font-size: 15px;
	font-weight: bold;
}
.product-text {
	display: none;
	margin: 5px 30px 15px 0;
	font-size: 15px;
}
.product-link-compare {
	display: none;
}
@media (min-width: 700px) {
	.product {
		align-items: center;
	    border-bottom: 2px solid #e1e4e6;
	    justify-content: flex-start;
	}
	.product-img-block {
		flex-basis: 0;
	}
	.product-img {
		width: 70px;
		height: 70px;
	}
	.product-info-block {
		pointer-events: none;
		cursor: default;
	}
	.product-price-block {
		flex-direction: row;
		width: 250px;
		margin: 0 0 0px;
	}
	.product-title {
	}
	.product-price-from {
		order: 1;
	}
	.product-retailer-count {
		order: 0;
	}
	.product-text {
		display: block;
		font-size: 12px;
	}
	.product-link-compare {
		display: block;
		box-sizing: border-box;
		height: 35px;
		min-width: 110px;
		background-color: #1994e0;
		color: white;
		font-size: 17px;
		line-height: 30px;
		border-radius: 5px;
		text-decoration: none;
		border: 1px solid #256cad;
	    border-bottom: 2px solid #256cad;
	    text-align: center;
	    cursor: pointer;
	}
}
@media (min-width: 1000px) {
	.product {
	}
	.product-img {
	}
	.product-info-block {
	}
	.product-price-block {
	}
	.product-title {
	}
	.product-price-from {
	}
	.product-retailer-count {
	}
	.product-text {
		flex-basis: 0;
	}
	.product-link-compare {
	}
}