h2.product-title {
	margin: 0;
	padding: 0;
}
h2.product-price-from {
	margin: 0;
	padding: 0;
}
h4.product-retailer-count {
	margin: 0;
	padding: 0;
}
.product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 130px;
	width: 100%;
	background-color: white;
	margin: 5px;
	padding: 10px;
}
.product-img {
	height: 70px;
	width: 70px;
}
.product-info-block {
	display: flex;
	flex-direction: column;
	color: #171717;
}
.product-price-block {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.product-title {
}
.product-price-from {
}
.product-text {
	color: #6f6f6f;
}
.product-retailer-count {
	display: inline-block;
}
.product-link-compare {
	display: block;
	padding-top: 5px;
	height: 27px;
	width: 170px;
	background-color: #1994e0;
	color: white;
	font-size: 18px;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid #256cad;
    border-bottom: 2px solid #256cad;
    text-align: center;
    cursor: pointer;
}